@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@import 'tw-animate-css';
@import '@vnext-forge-studio/designer-ui/styles.css';

* {
  box-sizing: border-box;
  outline: none;
}
input {
  outline: none;
}
textarea {
  outline: none;
}